.btn-info,
.btn-info:focus,
.btn-info:hover {
    background-color: #7761f2!important;
    border: 2px solid #7761f2!important;
    border-radius: 10px!important;
}

.btn-info.is-plain,
.btn-info.is-plain:focus,
.btn-info.is-plain:hover {
    background-color: #fff!important;
    color: #7761f2!important;
    border: 2px solid #7761f2!important;
    border-radius: 10px!important;
}


.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fff!important;
    border: 2px solid #00a0e9!important;
    border-radius: 10px!important;
    color: #00a0e9!important;
}


.btn-primary p{
    font-size: 12px!important;
    margin-top: 22px!important;
}

.btn-primary.is-plain,
.btn-primary.is-plain:focus,
.btn-primary.is-plain:hover {
    background-color: #fff!important;
    color: #b9bdcd!important;
    border: 1px solid #d8dbe9!important;
    border-radius: 10px!important;
}

.el-input__inner{
    border: 1px solid #aab0d1!important;
    background: #f7f8fd!important;
}
.el-table th,.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div{
    background: #f7f8fd!important;
}
.el-table tr{
    background: #f7f8fd!important;
}
.el-table td, .el-table th.is-leaf{
    border: none!important;
}
.el-table__header-wrapper{
    border-bottom: 1px solid #e8ebfa!important;
}
.el-table th > .cell{
    font-size:12px!important;
    color: #8c8c9e!important
}
.el-table{
    font-size:12px!important;
}

.el-input__inner{
    height:36px!important;
}

.yellow_btn,
.yellow_btn:focus,
.yellow_btn:hover {
    background-color: #fff!important;
    border: 2px solid #f39800!important;
    border-radius: 10px!important;
    color: #f39800!important;
    height: 94px!important;
}

.yellow_btn.is-plain,
.yellow_btn.is-plain:focus,
.yellow_btn.is-plain:hover{
    background-color: #fff!important;
    border: 2px solid #f39800!important;
    border-radius: 10px!important;
    color: #f39800!important;
    height: 94px!important;   
}