.btn-info,
.btn-info:focus,
.btn-info:hover {
    background-color: #7761f2;
    border: 2px solid #7761f2;
    border-radius: 10px;
}

.btn-info.is-plain,
.btn-info.is-plain:focus,
.btn-info.is-plain:hover {
    background-color: #fff;
    color: #7761f2;
    border: 2px solid #7761f2;
    border-radius: 10px;
}


.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #fff;
    border: 2px solid #00a0e9;
    border-radius: 10px;
    color: #00a0e9;
}


.btn-primary p{
    font-size: 12px;
    margin-top: 22px;
}

.btn-primary.is-plain,
.btn-primary.is-plain:focus,
.btn-primary.is-plain:hover {
    background-color: #fff;
    color: #b9bdcd;
    border: 1px solid #d8dbe9;
    border-radius: 10px;
}

.el-input__inner{
    border: 1px solid #aab0d1;
    background: #f7f8fd;
}
.el-table th,.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div{
    background: #f7f8fd;
}
.el-table tr{
    background: #f7f8fd;
}
.el-table td, .el-table th.is-leaf{
    border: none;
}
.el-table__header-wrapper{
    border-bottom: 1px solid #e8ebfa!important;
}
.el-table th > .cell{
    font-size:12px;
    color: #8c8c9e
}
.el-table{
    font-size:12px;
}

.el-input__inner{
    height:36px!important;
}

